.theme-blue.create .nav.nav-tabs {
    /* Hide tabs on create for a clean form */
    display: none;
}
.theme-blue #layout-sidenav-1 div[role=menu] > a:has(i.acorn-splitter) {
    display: none;
}
/* TODO: Change filtering and global-scope to a permission */
.theme-blue #Filter-listFilter,
.theme-blue .search-global-scope-selectors-container {
    display: none;
}
.theme-blue,
.theme-blue .control-tabs>div>div>ul.nav-tabs>li a>span.title>span, 
.theme-blue .control-tabs>div>ul.nav-tabs>li a>span.title>span, 
.theme-blue .control-tabs>ul.nav-tabs>li a>span.title>span,
.theme-blue .control-tabs.primary-tabs>div>div>ul.nav-tabs>li a>span.title:after, 
.theme-blue .control-tabs.primary-tabs>div>div>ul.nav-tabs>li a>span.title:before, 
.theme-blue .control-tabs.primary-tabs>div>ul.nav-tabs>li a>span.title:after, 
.theme-blue .control-tabs.primary-tabs>div>ul.nav-tabs>li a>span.title:before, 
.theme-blue .control-tabs.primary-tabs>ul.nav-tabs>li a>span.title:after, 
.theme-blue .control-tabs.primary-tabs>ul.nav-tabs>li a>span.title:before,
.theme-blue .modal-content,
.theme-blue .modal-dialog > .modal-content > div,

.theme-blue .control-tabs.primary-tabs>div>div>ul.nav-tabs>li.active a:before, 
.theme-blue .control-tabs.primary-tabs>div>ul.nav-tabs>li.active a:before, 
.theme-blue .control-tabs.primary-tabs>ul.nav-tabs>li.active a:before {
    background-color: #e6effd;
}
.theme-blue .relation-behavior .control-list,
.theme-blue table.table.data > tbody > tr:first-child > td {
    border: none;
}
.theme-blue [multiple], 
.theme-blue [type=date], 
.theme-blue [type=datetime-local], 
.theme-blue [type=email], 
.theme-blue [type=month], 
.theme-blue [type=number], 
.theme-blue [type=password], 
.theme-blue [type=search], 
.theme-blue [type=tel], 
.theme-blue [type=text], 
.theme-blue [type=time], 
.theme-blue [type=url], 
.theme-blue [type=week], 
.theme-blue select, 
.theme-blue textarea,
.theme-blue .btn {
    border-color: rgb(145 187 251);
}
.theme-blue .control-breadcrumb,
.theme-blue .modal-dialog .modal-header:has(h4.modal-title) {
    background-color: #d0e0f0;
}
.theme-blue .control-scrollpanel {
    background-color: #b3c2d4;
}
.theme-blue .control-breadcrumb li:first-child {
    background-color: #71859e;
}
.theme-blue .control-tabs > div > .nav-tabs {
    background: linear-gradient(0deg, #d0e0f0, #e6effd);
}
.theme-blue .layout-topmenu .global-scope {
    background-color: #020277;
}