.flash-message a {
  color: darkblue;
  border-radius:4px;
  padding: 2px 4px;
  background-color:#fff;
}

.form-group button.form-button {
  margin-top: 0px;
}

.new-row {
  clear:both;
}

.form-group.partial-field:has(button.popup-create) > label[for],
.form-group.partial-field:has(button.add-button) > label[for] {
  display:none;
}

.help-block a,
.goto-form-group-selection {
  color: #4444ff;
}

.goto-form-group-selection {
  float:right;
  margin-left: 5px;
}

.selected-only .field-checkboxlist .custom-checkbox {
    display: none;
}

.selected-only .field-checkboxlist .custom-checkbox:has(input[checked]) {
    display: block;
}

.hidden-when-disabled:has(input[disabled]),
.hidden-when-disabled:has(select[disabled]) {
  display:none;
}

.form-preview {
  margin:0px auto;
  max-width: 900px;
}

.hug-left {
  margin-left:-10px;
}

/* ------------------------------------- Popups */
#popup-container {
  padding:2em;
}
#popup-buttons {
  text-align:right;
}

/* ------------------------------------- debug */
@keyframes fadeInOpacity {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.debug-block .disabled,
.debug-block .in-active,
.debug-block .ERROR,
.debug-block .CONTEXT,
.debug-block .LOG,
.debug-block .STATEMENT,
.debug-block .enabled,
.debug-block .active,
.debug-block .debug-number {
  color:#fff;
  border-radius:4px;
  padding: 0px 2px;
}
.debug-block .ERROR,
.debug-block .CONTEXT {
  background-color:red;
}
.debug-block .LOG,
.debug-block .STATEMENT {
  background-color:darkblue;
}
.debug-block .enabled,
.debug-block .active {
  background-color:darkgreen;
}
.debug-block .debug-number {
  background-color:#000;
}

.debug-block .time {
  font-weight:bold;
}
.debug-block .time-precise {
  color:#999;
}
.callout > .content .debug-block h2 {
  font-weight:bold;
  font-size:13px;
  margin: 0px;
}
.debug-block .name {
}
.debug-block > div {
  float:left;
  margin-left:10px;
  padding-left:10px;
  border-left: 1px solid #d7d7a7;
  margin-bottom: 20px;
}
.debug-block > div > table {
  margin-bottom:10px;
}
.debug-block td {
  padding:0px 4px;
}
.debug-block a {
  color: blue;
}

.debug-block #logs {
  max-height:200px;
  max-width:800px;
  overflow-y:scroll;
}
.debug-block #logs tr {
  border-bottom: 1px solid #d7d7d7;
}
.debug-block #logs td {
  padding-bottom:5px;
}

.debug-block #db-settings .setting-wal_level .value {
  color:#fff;
  border-radius:4px;
  padding: 0px 2px;
  background-color:darkred;
}
.debug-block #db-settings .setting-wal_level > .value-logical {
  background-color:darkgreen;
}
.debug-block #db-settings .setting-port .value {
  color:#fff;
  border-radius:4px;
  padding: 0px 2px;
  background-color:darkred;
}
.debug-block #db-settings .setting-port > .value-5432 {
  background-color:darkgreen;
}

.debug-block #db-settings .setting-wal_log_hints .value {
  color:#fff;
  border-radius:4px;
  padding: 0px 2px;
  background-color:darkred;
}
.debug-block #db-settings .setting-wal_log_hints > .value-on {
  background-color:darkgreen;
}




