/* bootstrap extensions */
@media (min-width:768px) {
    /* Combine with new-row */
    body .col-sm-no-new-row {clear: none;}
    body .col-sm-new-row {clear: both;}
}
@media (min-width:992px) {
    body .col-md-no-new-row {clear: none;}
    body .col-md-new-row {clear: both;}
}
@media (min-width:1200px) {
    body .col-lg-no-new-row {clear: none;}
    body .col-lg-new-row {clear: both;}
}

.video-help {
    background-color: aliceblue;
    color: #3366ff;
    font-weight: bold;
}

.form-group > .callout,
.form-group > .layout-row > .callout {
    opacity: 0.8;
    box-shadow: 2px 0px 10px #ddd;
}

span.required::after {
    /* Independent required */
    background-color: #c20a0a;
    border-radius: 8px;
    content: "";
    display: inline-block;
    font-size: 60%;
    height: 5px;
    margin-left: 3px;
    vertical-align: super;
    width: 5px;
}

/* flash */
.flash-message a,
.callout a {
  color: blue;
}
.flash-message a {
  border-radius:4px;
  padding: 2px 4px;
  background-color:#fff;
}

body .field-multilingual .ml-btn {
    z-index: 10;
}
.form-group button.form-button {
  margin-top: 0px;
}

.hide-time .input-with-icon:has(input[data-timepicker]) {
    display:none;
}
.template-details label,
.list-details label {
    display: inline;
    font-weight: bold;
}
.template-details .warning label,
.list-details .warning label {
    color: #f00;
}

.view-add-models {
    float: left;
    clear: left;
    margin-right: 5px;
}

.fake-readonly *[readonly] {
    background-color: inherit !important;
    cursor: inherit;
}

.control-toolbar .form-group {
    padding-bottom: 0px;
}
.control-toolbar .toolbar-primary .form-group .select2-container {
    min-width: 350px;
}
.control-toolbar .select2-results__options > li:first-child {
    color: #aaa;
}

.btn:not(.btn-primary):focus, .btn:not(.btn-primary):hover {
    color: rgb(0, 0, 0);
}

.list-editable-container.is-required > label:after{
    background-color:#c20a0a;
    border-radius:8px;
    content:"";
    display:inline-block;
    font-size:60%;
    height:5px;
    margin-left:3px;
    vertical-align:super;
    width:5px
}
.list-editable-container.failed > input {
    border-color: red;
}
.new-row {
  clear:both;
}
.modal-body .no-popup-new-row {
    clear: none;
}
.nolabel > .debug-relative > label {
    /* We hold the space, but disappear the text */
    color: transparent;
    overflow: hidden;
    width: 10px;
    white-space: nowrap;
}
.form-group.nolabel > label {
    display: none;
}

.bottom {
    position: absolute;
    bottom: 10px;
    right: 20px;
}

.relation-manager:has(span.page-next):has(span.page-back) .list-footer {
    display:none;
}
.form-group.single-tab:has(.relation-behavior) {
    width: 100%;
}

.text-white .counter {
    color: #fff!important;
}
.control-breadcrumb .counter {
    position: inherit;
    background-color: #333;
}

.template-thumbnail {
    float:right;
    width:450px;
}

.comment-icon {
    float: left;
    margin: 8px 8px 0px 0px;
}

.nav-tabs > li.tab-empty {
    /* Override any .active class */
    display: none!important;
}

/* -------------------------- Advanced */
/* ID column select */
.modal-body .control-simplelist li:has(.checkbox > input[name=visible_columns\[\]][value=id]),
.modal-body .control-simplelist li:has(.checkbox > input[name=visible_columns\[\]][value=version]),
.modal-body .control-simplelist li:has(.checkbox > input[name=visible_columns\[\]][value=current]) {
    display: none;
}
body.advanced .modal-body .control-simplelist li:has(.checkbox > input[name=visible_columns\[\]][value=id]),
body.advanced .modal-body .control-simplelist li:has(.checkbox > input[name=visible_columns\[\]][value=version]),
body.advanced .modal-body .control-simplelist li:has(.checkbox > input[name=visible_columns\[\]][value=current]) {
    display: inherit;
}

/* ------------------------------------- Sidebar */
.form-sidebar .form-group {
    width: 100%;
}
.form-sidebar table.table.data thead > tr > th.list-checkbox,
.form-sidebar table.table.data thead > tr > th > span,
.form-sidebar table.table.data thead > tr > th > a,
.form-sidebar .list-scrollable-container.scroll-before::before,
.form-sidebar .list-scrollable-container.scroll-after::after {
    padding: 4px;    
    height: 24px;
}
.form-sidebar .btn.btn-sm {
    padding: 3px 5px;
}
.form-sidebar .table.table.data thead .list-checkbox .custom-checkbox {
    top: -13px;
    left: 0px;
}
.form-sidebar .table.table.data > tbody > tr > td.list-checkbox {
    width: auto;
    padding: 4px;
}

.form-sidebar .field-datepicker > .row > div {
    width: 50%;
    padding: 5px;
}
.form-sidebar .form-elements > .hide-tabs > .form-group.bottom:before {
    border-bottom: none!important;
}
.form-sidebar table.table.data {
    border-bottom: none;
}
.form-sidebar .form-elements > .hide-tabs > .form-group {
    padding: 0px 0px 20px 0px;
}
.form-sidebar .form-group > .relation-behavior .control-toolbar {
    padding: 0 0 5px 0;
}
.form-sidebar .form-elements > .hide-tabs > .form-group:not(.interface-component),
.form-sidebar .form-elements > .hide-tabs > .form-group.dropdown-field {
    clear:both;
}
.form-sidebar .control-list p.no-data {
    text-align: left;
    margin:0px;
    padding: 0px;
    color: #888;
}
.form-sidebar .form-elements > .hide-tabs > .form-group:not(.interface-component):before {
    /* Force new-row due to thin vertical nature of side-bar */
    content: '';
    display:block;
    margin: 0px -25px 0px -25px;
}
.form-sidebar .form-elements > .hide-tabs > .form-group:first-child::before {
    display:none;
}
.form-sidebar .form-elements > .hide-tabs > .form-group.interface-component {
    /* buttons connected to a previous :input */
    width: auto;
    max-width: 100%;
    margin-left: inherit;
    margin-right: 10px;
}
.form-sidebar .form-elements > .hide-tabs > .form-group > .relation-behavior > .relation-manager > .list-widget > .control-list > .table.table.data tbody td {
    /* relationmanager */
    padding-top: 8px;
    padding-bottom: 8px;
    border-top-width: 1px;
}
.form-sidebar .form-elements > .hide-tabs > .form-group > .relation-behavior,
.form-sidebar .form-elements > .hide-tabs > .form-group > .relation-behavior > .relation-manager > .list-widget > .control-list {
    margin-bottom:0px;
}
.form-sidebar .form-elements > .hide-tabs > .form-group > .relation-behavior > .relation-manager > .list-widget > .control-list > .list-footer,
.form-sidebar .list-pagination {
    padding-top:0px;
}
.form-sidebar .form-elements > .hide-tabs > .form-group > .relation-behavior > .relation-toolbar > .toolbar-widget > .control-toolbar .toolbar-item button:before,
.form-sidebar .form-elements > .hide-tabs > .form-group > .relation-behavior > .relation-toolbar > .toolbar-widget > .control-toolbar .toolbar-item a:before {
        content: none;
}

.help-block a,
.goto-form-group-selection {
  color: #4444ff;
}
.help-block img.level {
    float: left;
    margin-right: 8px;
}
.help-block:has(img.level):after {
    /* Clear the image bottom */
    content: ' ';
    display: block;
    clear:both;
}
ul.help-block {
    list-style: disc;
    margin-left:15px;
    color: #777;
}

.goto-form-group-selection {
  float:right;
  margin-left: 5px;
}

/* relation displays to show only their attached items */
.selected-only .field-checkboxlist .custom-checkbox,
.selected-only .custom-checkbox label:before {
    display: none;
}
.selected-only .relation-widget > .field-checkboxlist .checkboxlist-controls {
    display: none;
}
.selected-only .custom-checkbox label {
    padding-left: 0px;
    margin-bottom: 0px;
}
.selected-only .field-checkboxlist .custom-checkbox:has(input[checked]) {
    display: block;
}
/*
.selected-only:hover .field-checkboxlist .custom-checkbox,
.selected-only:hover .custom-checkbox label:before {
    display: inherit;
}
.selected-only:hover .custom-checkbox label {
    padding-left: inherit;
}
*/
.hidden-when-disabled:has(input[disabled]),
.hidden-when-disabled:has(select[disabled]) {
  display:none;
}

.form-preview {
  margin:0px auto;
  max-width: 900px;
}

/* These are always included, but we only show them when debug is enabled */
.debug-field {
    display:none;
}

/* actions */
.action-functions {
    display: none;
}
.action-functions:has(li) {
    display: block;
}
.action-functions > li > a {
    cursor: pointer;
    white-space: nowrap;
}
ul.action-functions {
    position: absolute; /* TODO: float: left if RTL */
    right: 320px; /* sidebar is w-300 */
    top: 22px;
    /* margin-top: -40px; */
}
@media (max-width: 768px) {
    ul.action-functions {
        top: 0px;
        right: 16px; /* sidebar is w-0 */
        z-index: 10000;
    }
}
ul.action-functions {
    padding: 3px 10px;
    background-color: #fff;
    border:1px solid #999;
    border-radius: 1px;
    box-shadow: 2px 0px 10px #ddd;
}
ul.action-functions > li .form-group,
ul.action-functions > li .select2-container {
    display: inline-block;
    padding-bottom: 0px;
}
ul.action-functions > li .select2-selection {
    height: 28px;
    line-height: 0.8;
    padding: 8px 5px 8px 5px;
    min-width: 200px;
}
ul.action-functions .select2-container .select2-selection--single > .select2-selection__rendered {
    /* Bold selection p's getting cut off */
    overflow: visible;
}

body.rtl ul.action-functions {
    float:left;
}
ul.action-functions > li {
    display: inline;
    padding: 0px 6px 0px 6px;
    border-left: 1px solid #a7a7a7;
}
body.rtl ul.action-functions > li {
    border-right: 1px solid #a7a7a7;
    border-left: none;
}
ul.action-functions > li:first-child {
    border-left: none;
}
body.rtl ul.action-functions > li:first-child {
    border-right: none;
}
ul.action-functions > li > #popup-qrscan {
    display: inline;
    font-size: 14px;
}
.modal-content ul.action-functions {
    /* In a popup */
    position: absolute;
    top:34px;
    right:36px;
    display: none;
}

/* List action functions */
table.data tr.rowlink ul.action-functions {
    position: static; /* Override the un-qualified update form setting */
}
table.data tr.rowlink ul.action-functions {
    float: right;
    text-align:center;
    /* Negate form CSS on Relation Manager tables */
    margin-top: 0px;
    background-color: transparent;
    border: none;
    border-radius: 0px;
    box-shadow: none;
}
table.data tr.rowlink ul.action-functions > li {
    display: inline-block;
    margin-bottom: 3px;
    padding: 3px 10px;
    background-color: #fff;
    border:1px solid #999;
    border-radius: 1px;
    box-shadow: 2px 0px 10px #ddd;
    margin-left: 4px;
}
table.data tr.rowlink ul.action-functions > li:hover {
    box-shadow: none;
}
table.table.data tbody tr.rowlink:hover td ul.action-functions > li > a {
    color: #666!important;
}
table.table.data tbody tr.rowlink td ul.action-functions > li:hover > a {
    text-decoration: underline;
}

/* buttons */
.btn {
    border: 1px solid #ccc;
}

.hug-left {
  margin-left:-10px;
}

.select2-results__option--highlighted {
    background-color: #d7d7d7;
    font-weight: bold;
}

/* Tab only for the relation with one Model */
.form-group.single-tab > label {
    display: none;
}
.form-group.single-tab {
    width: 100%;
}
.form-group.highlight-value:has(input[value]:not([value=""])) {
    border:2px solid #ff5555;
    background-color: #ffaaaa;
    border-radius: 5px;
}

/* qrcode field display, no label */
.form-group.partial-field[data-field-name=_qrcode] > svg {
    float:right;
}
.form-group.partial-field[data-field-name=_qrcode] > label {
    display: none;
}
.form-group.radio-field .custom-radio:has(input[readonly]) label {
    /* NOTE: also forms.js which will disabled these readonly radios */
    color: #999;
    cursor: not-allowed;
}
.is-owner > span {
    font-weight: bold;
}

/* This is when we want the secondary tabs to look like the primary ones, with:
 * secondary-tabs: cssClass: primary-tabs
 */
.control-tabs.secondary-tabs.primary-tabs > div > div > ul.nav-tabs > li,
.control-tabs.secondary-tabs.primary-tabs > div > ul.nav-tabs > li,
.control-tabs.secondary-tabs.primary-tabs > ul.nav-tabs > li {
    border-right: none;
    margin-right: -20px;
    padding-right: 0px;
}
.control-tabs.secondary-tabs.primary-tabs > div > div > ul.nav-tabs > li a,
.control-tabs.secondary-tabs.primary-tabs > div > ul.nav-tabs > li a,
.control-tabs.secondary-tabs.primary-tabs > ul.nav-tabs > li a {
    font-weight: normal;
}
/* Shading to show tab areas better */
.control-tabs > div > .nav-tabs {
    margin-top:25px;
    background: linear-gradient(0deg, #f0f0f0, #f9f9f9);
}
.control-tabs > div > .nav-tabs > li > a > .title > span {
    background: #f9f9f9;
    padding-bottom: 6px;
    margin-bottom: -6px;
}
.tab-pane .control-tabs > div > .nav-tabs > li > a > .title > span {
    /* Messaging tab-pane colours are different */
    background: Transparent;
}

.security-warning {
    background-color: #ff8888;
    font-weight: bold;
    color: white;
    padding: 1px 7px;
    border-radius: 5px;
    border: 1px solid #000;
}

/* ------------------------------------- Popups */
.modal-dialog .help-block.function-description {
    padding-bottom: 20px;
}
.control-popup.loading * {
    cursor: wait;
}
.modal-dialog .control-list p.no-data {
    text-align: left;
    margin:0px;
}
.modal-dialog .list-widget {
    clear: both;
}
.modal-dialog .popup-hide {
  display:none;
  visibility:hidden;
}
.modal-dialog .modal-footer .view-all {
    color:#4444ff;
    margin:0px 5px; /* like storm */
}
.modal-dialog .modal-header:has(h4.modal-title) {
    /* Standard relationmanager dialogs */
    background-color: #d0d9dd;
    margin-bottom: 14px;
    padding: 12px 10px 12px 30px;
}
.modal-dialog .popup-col-xs-6 {
  width: 50%;
}
body.compact-container .modal-dialog .modal-header.compact,
body.slim-container .modal-dialog .modal-header.compact {
    padding: 0px;
}
body.compact-container .modal-dialog .modal-header.compact > button,
body.slim-container .modal-dialog .modal-header.compact > button {
    margin: 10px;
}

/* wizard popup scrolling */
.modal-dialog > .modal-content {
    position: relative;
    overflow: hidden;
}
.modal-dialog > .modal-content > div.in-active {
    /* other divs in-active */
    position: absolute; /* Take away its space */
    opacity: 0.6;
}
.modal-dialog > .modal-content > div {
    /* top div slide in */
    position: relative; /* Maintain popup size */
    background: #f9f9f9; /* Hide under-divs */
}
.modal-dialog > .modal-content .modal-header > h4 > div.control-breadcrumb > ul > li.stage-2 {
    background-color: #808892;
}
.modal-dialog > .modal-content .modal-header > h4 > div.control-breadcrumb {
    margin-top: 0px;
}
.modal-dialog > .modal-content .modal-header > h4 > div.control-breadcrumb > ul > li.stage-3 {
    background-color: #707882;
}
.modal-dialog > .modal-content .modal-header > h4 > div.control-breadcrumb > ul > li.stage-4 {
    background-color: #606872;
}
.modal-dialog > .modal-content .modal-footer .previous-popup {
    display: none;
}
.modal-dialog > .modal-content:has(div.in-active) .modal-footer > button:before {
    content: '<<';
    display: inline;
    padding:2px 2px 2px 10px;
    background:linear-gradient(to left, #d7d7d7, #f9f9f9);
}
.modal-dialog > .modal-content:has(div.in-active) .modal-footer > button.btn-primary:before {
    background:linear-gradient(to left, #34495E, #44597E);
}

/* Move QR code */
.modal-dialog > .modal-content div.form-group.partial-field[data-field-name=_qrcode] {
    position: absolute;
    bottom: 3px;
    left: 25px;
    width: auto;
    margin: 0px 0px -40px 0px;
    padding: 2px;

    border: 1px dotted #777;
    background-color: #fff;
}
.modal-dialog > .modal-content div.form-group.partial-field[data-field-name=_qrcode] svg {
    width: 48px;
    height: 48px;
}
.modal-dialog > .modal-content div.form-group.partial-field[data-field-name=_qrcode]:hover svg {
    width: inherit;
    height: 96px;
    z-index: 1000;
    transition: 0.3s height;
}

.control-simplelist > ul > li > div > div.field-name {
    display: inline;
    color: #888;
}
.control-simplelist > ul > li > div > div.field-name::before {
    content: '(';
}
.control-simplelist > ul > li > div > div.field-name::after {
    content: ')';
}

/* ------------------------------- permissions screen */
table.collapsable tr {
    display:none;
}
table.collapsable tr.section {
    display:table-row;
    cursor: pointer;
}
table.collapsable tr.section > th:first-child::before {
    content: "+";
    font-weight: bold;
    border-radius: 8px;
    border: 1px solid #999;
    padding: 0px 4px;
    margin-right: 4px;
}
table.collapsable tr.section:hover > th:first-child::before {
    background-color: #d7d7d7;
}
table.collapsable > tbody > tr.sub-section td {
    padding-top: 30px;
    border-top: 3px double black;
    font-weight: bold;
    background: linear-gradient(0deg, #f9f9f9, #f0f0f0);
}
.permissioneditor .model-name {
    background-color: #333;
    color: #fff;
    border-radius: 6px;
    border: 1px solid #000;
    padding: 1px 8px;
    display: inline;
}
div.permissioneditor > table > tbody > tr > td {
    padding: 4px 4px;
}

/* ------------------------------- README screen */
h1.collapsable+pre {
    display:none;
}
body h1.collapsable {
    cursor: pointer;
    font-size: 20px;
    font-weight: normal;
}
h1.collapsable::before {
    content: "+";
    font-weight: bold;
    font-size: 13px!important;
    border-radius: 8px;
    border: 1px solid #999;
    padding: 0px 4px;
    margin-right: 4px;
    background-color: #d7d7d7;
}

/* ------------------------------- fixes */
.is-rtl button.pika-prev, button.pika-next {
    /* Not sure why Storm button is overriding this */ 
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII=);
}
.is-rtl button.pika-next, button.pika-prev {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg==);
}
@media (max-width: 768px) {
    /* Hide the blank header in responsive mobile mode */
    .layout.responsive-sidebar>.layout-cell.form-sidebar {
        display:none;
    }
    .layout.responsive-sidebar>.layout-cell.form-sidebar:has(.form-group) {
        display:table-header-group;
    }
}

nav.collapsible > ul > li:has(a > i.acorn-splitter) {
    display: none;
}

/* ------------------------------- themes */
body.theme-blue .nav.nav-tabs,
body.theme-blue #layout-sidenav-1 div[role=menu] > a:has(i.acorn-splitter) {
    display: none;
}
/* TODO: Change filtering and global-scope to a permission */
body.theme-blue #Filter-listFilter,
body.theme-blue .search-global-scope-selectors-container {
    display: none;
}
body.theme-blue,
body.theme-blue .control-tabs>div>div>ul.nav-tabs>li a>span.title>span, 
body.theme-blue .control-tabs>div>ul.nav-tabs>li a>span.title>span, 
body.theme-blue .control-tabs>ul.nav-tabs>li a>span.title>span,
body.theme-blue .control-tabs.primary-tabs>div>div>ul.nav-tabs>li a>span.title:after, 
body.theme-blue .control-tabs.primary-tabs>div>div>ul.nav-tabs>li a>span.title:before, 
body.theme-blue .control-tabs.primary-tabs>div>ul.nav-tabs>li a>span.title:after, 
body.theme-blue .control-tabs.primary-tabs>div>ul.nav-tabs>li a>span.title:before, 
body.theme-blue .control-tabs.primary-tabs>ul.nav-tabs>li a>span.title:after, 
body.theme-blue .control-tabs.primary-tabs>ul.nav-tabs>li a>span.title:before,
body.theme-blue .modal-content,
body.theme-blue .modal-dialog > .modal-content > div,

body.theme-blue .control-tabs.primary-tabs>div>div>ul.nav-tabs>li.active a:before, 
body.theme-blue .control-tabs.primary-tabs>div>ul.nav-tabs>li.active a:before, 
body.theme-blue .control-tabs.primary-tabs>ul.nav-tabs>li.active a:before {
    background-color: #e6effd;
}
body.theme-blue .relation-behavior .control-list,
body.theme-blue table.table.data > tbody > tr:first-child > td {
    border: none;
}
body.theme-blue [multiple], 
body.theme-blue [type=date], 
body.theme-blue [type=datetime-local], 
body.theme-blue [type=email], 
body.theme-blue [type=month], 
body.theme-blue [type=number], 
body.theme-blue [type=password], 
body.theme-blue [type=search], 
body.theme-blue [type=tel], 
body.theme-blue [type=text], 
body.theme-blue [type=time], 
body.theme-blue [type=url], 
body.theme-blue [type=week], 
body.theme-blue select, 
body.theme-blue textarea,
body.theme-blue .btn {
    border-color: rgb(145 187 251);
}
body.theme-blue .control-breadcrumb,
body.theme-blue .modal-dialog .modal-header:has(h4.modal-title) {
    background-color: #d0e0f0;
}
body.theme-blue .control-scrollpanel {
    background-color: #b3c2d4;
}
body.theme-blue .control-breadcrumb li:first-child {
    background-color: #71859e;
}
body.theme-blue .control-tabs > div > .nav-tabs {
    background: linear-gradient(0deg, #d0e0f0, #e6effd);
}