@keyframes fadeInOpacity {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

/* tr.rowlink */
tr.rowlink .nowrap {
    white-space: nowrap;
}
.hover-indicator {
    border-bottom: 1px dashed #d0d0d0; 
}
.ajax-new {
    background-color:#ffdddd!important;
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2s;
}

/* Some problems in popup with search and filter showing */
.modal-dialog .list-flush > div:has(> input.search) {
    float:right;
}
.modal-dialog .list-flush > .search-qrscan-container {
    float: right;
}
.modal-dialog .list-flush > .search-global-scope-selectors-container {
    float: right;
}
.modal-dialog .control-filter {
    clear: both;
}

/*
table.table.data tr.list-tree-level-0 td.list-cell-index-1{padding-left:0px}
table.table.data tr.list-tree-level-1 td.list-cell-index-1{padding-left:20px}
table.table.data tr.list-tree-level-2 td.list-cell-index-1{padding-left:40px}
table.table.data tr.list-tree-level-3 td.list-cell-index-1{padding-left:60px}
table.table.data tr.list-tree-level-4 td.list-cell-index-1{padding-left:80px}
table.table.data tr.list-tree-level-5 td.list-cell-index-1{padding-left:100px}
*/

table.table.data .current {
    font-weight: bold;
}
table.table.data .not-current {
    color: #999;
}

table.table.data .ordinal {
    color: #999;
}

.toolbar-primary > div > button {
    /* a and button together bit up and down */
    margin-top: 0px;
}

.list-cell-type-partial > .multi .delimeter {
    color: #999;
}
.list-cell-type-partial > .multi {
    list-style: circle;
}
.list-cell-type-partial > .multi-total {
    font-weight: bold;
    border-top: 3px double #555;
}
table.table.data tbody td.list-cell-type-partial > .multi > li a {
    color: darkblue;
}
table.table.data tbody td.list-cell-type-partial > .multi > li a:hover,
table.table.data tbody td.list-cell-type-partial > a.more:hover {
    text-decoration: underline;
}

table.table.data .counter.count-0,
table.table.data .counter.count-null,
#all-controllers .counter.count-0 {
    color: #aaa;
    font-weight: normal;
    background-color: Transparent;
    border: none;
}
table.table.data .counter,
#all-controllers .counter {
    position: static;
    background-color: #777;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
}

table.table.data td.tablet > * {
    border-radius: 5px;
    background-color: #aaa;
    color: #fff;
    padding: 0px 6px;
}

table.table.data td.tablet > *.current {
    background-color: #777;
}

tr.rowlink.qrscan-highlight > td {
    background-color:#ffdddd!important;
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2s;
}
tr.rowlink.qrscan-highlight > td {
    border-top:1px solid #000!important;
    border-bottom:1px solid #000!important;
}
tr.rowlink.qrscan-highlight > td:first-child {
    border-left:1px solid #000!important;
    border-radius: 5px 0px 0px 5px;
}
tr.rowlink.qrscan-highlight > td:last-child {
    border-right:1px solid #000!important;
    border-radius: 0px 5px 5px 0px;
}
.form-group.no-header table.table.data > thead,
.form-group.no-header .list-scrollable-container.scroll-after::after {
    display: none;
}

/* -------------------------------- State_Indicator */
table.table.data > tbody > tr.rowlink:has(div.state-indicator) > td {
    border-top: 1px dashed;
    border-bottom: 1px dashed;
    width: 0px;
    overflow: visible;
}
table.table.data > tbody > tr.rowlink:has(div.state-indicator) > td:first-child {
    border-left: 1px dashed;
    border-right: none;
    border-radius: 6px 0px 0px 6px;
}
table.table.data > tbody > tr.rowlink:has(div.state-indicator) > td:last-child {
    border-right: 1px dashed;
    border-left: none;
    border-radius: 0px 6px 6px 0px;
}

table.table.data > tbody > tr.rowlink > td.list-cell-name-state_indicator {
    position: relative;
}
table.table.data > tbody > tr.rowlink > td.list-cell-name-state_indicator > div.state-indicator {
    position: absolute;
    top: -6px;
    border-radius: 4px;
    border-left: 1px solid;
    border-right: 1px solid;
    border-top: none;
    border-bottom: none;
    background-color: #fff;
    padding: 0px 8px;
    box-shadow: 1px 1px 8px #666;
    white-space: nowrap;
    font-size:10px;
    text-align: center;
}

/* Invalid */
table.table.data > tbody > tr.rowlink:has(div.state-indicator.invalid) > td {
    border-color: #770000;
}
div.state-indicator.invalid {
    border-color: #770000;
    color: #770000;
}

/* Waiting */
table.table.data > tbody > tr.rowlink:has(div.state-indicator.waiting) > td {
    border-color: #586800;
}
div.state-indicator.waiting {
    border-color: #586800;
    color: #586800;
}

/* Valid|Complete */
table.table.data > tbody > tr.rowlink:has(div.state-indicator.valid) > td,
table.table.data > tbody > tr.rowlink:has(div.state-indicator.complete) > td {
    border: none;
}
div.state-indicator.valid,
div.state-indicator.complete {
    border: none;
}
table.table.data > tbody > tr.rowlink > td.list-cell-name-state_indicator > div.state-indicator.valid,
table.table.data > tbody > tr.rowlink > td.list-cell-name-state_indicator > div.state-indicator.complete {
    position:inherit;
    border-left: none;
    border-right: none;
    background-color: Transparent;
    box-shadow: none;
}
table.table.data > tbody > tr.rowlink > td.list-cell-name-state_indicator:has(div.state-indicator.valid):before,
table.table.data > tbody > tr.rowlink > td.list-cell-name-state_indicator:has(div.state-indicator.complete):before {
    display: block;
    content: "✓";
    text-align: center;
}

/* Steps */
table.table.data > tbody > tr.rowlink:has(div.state-indicator.step-0) > td {
    border-color: #586800;
}
div.state-indicator.step-0 {
    border-color: #586800;
    color: #586800;
}
table.table.data > tbody > tr.rowlink:has(div.state-indicator.step-1) > td {
    border-color: #778b02;
}
div.state-indicator.step-1 {
    border-color: #778b02;
    color: #586800;
}
table.table.data > tbody > tr.rowlink:has(div.state-indicator.step-2) > td {
    border-color: #88a001;
}
div.state-indicator.step-2 {
    border-color: #88a001;
    color: #586800;
}
table.table.data > tbody > tr.rowlink:has(div.state-indicator.step-3) > td {
    border-color: #4dc001;
}
div.state-indicator.step-3 {
    border-color: #4dc001;
    color: #586800;
}

.search-global-scope-selectors-container {
    float: left;
    margin-right: 10px;
    margin-top: -4px;
    font-size: 12px; /* Override .control-toolbar */
}
.search-global-scope-selectors-container > form {
    display: inline-block;
    max-width: 200px;
}

.tick-div {
    text-align: center;
    font-size: 14px;
}
.tick-div.type-cross {
    /* crosses do not display by default */
    display: none;
    color: red;
}
.show-cross > .tick-div.type-cross {
    display: block;
}
.hide-tick > .tick-div.type-tick {
    display: none;
}

.name-description > .description,
.name-description > .description p {
    color: #aaa;
}
.name-description .variable {
    font-weight: bold;
}

div.control-toolbar select.btn {
    width: auto;
    user-select: inherit;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m6 8 4 4 4-4'/%3E%3C/svg%3E");
}

/* list-editable */
tr.dirty > td {
    background-color:#ffdddd!important;
}
td.list-cell-type-partial > .list-editable-container > input.list-editable-number {
    width: 80px;
    padding: 0px 4px;
}
td.list-cell-type-partial > .list-editable-container > label {
    font-size: 13px;
    color: rgb(102, 102, 102); /* Storm field value */
    padding: 0px 0px 4px 0px;
    margin: 0px;
}
td.list-cell-type-partial > .list-editable-container {
    float: left;
    margin-right: 6px;
}

td.list-cell-type-partial > .number {
    text-align: right;
    font-family: Arial;
}
td.list-cell-type-partial > .bar {
    background-color: #fff;
}
td.list-cell-type-partial > .bar > .inner {
    height: 10px;
    background-color: #00a870;
}

.expression {
    font-family: Arial;
}
.expression .function {
    font-weight: bold;
}
.expression .token,
.expression .number {
    background-color: #fddfdf;
    border-radius: 6px;
    padding: 0px 3px;
}
.expression .replacement {
    background-color: #ffc0c0;
    border-radius: 6px;
    font-style: italic;
}

/* ------------------ all controllers */
#all-controllers {
    margin: 20px;
}
#all-controllers > li {
    float: left;
    min-width: 200px;
    max-width: 300px;
    min-height: 200px;
    padding: 8px;
    margin: 10px;
    border: 1px solid #d7d7d7;
    box-shadow: 0px 0px 4px #aaa;
}
#all-controllers > li.empty {
    opacity: 0.7;
}
#all-controllers > li.empty > a {
    font-weight: normal;
}
#all-controllers > li > a {
    display: block;
    text-align: center;
    font-weight: bold;
}
#all-controllers > li > .values > li {
    float: left;
    margin-right: 6px;
    font-size: 12px;
    color: #777;
}
#all-controllers > li > .values > li::after {
    content: ', ';
}

/* Levels */
body table.table.data tr.list-tree-level-0 a.list-expand-collapse {left: 0px;}
body table.table.data tr.list-tree-level-0 td.list-cell-index-1 {padding-left: 0px;}

body table.table.data tr.list-tree-level-1 a.list-expand-collapse {left: 30px;}
body table.table.data tr.list-tree-level-1 td.list-cell-index-1 {padding-left: 30px;}

body table.table.data tr.list-tree-level-2 a.list-expand-collapse {left: 60px;}
body table.table.data tr.list-tree-level-2 td.list-cell-index-1 {padding-left: 60px;}

body table.table.data tr.list-tree-level-3 a.list-expand-collapse {left: 90px;}
body table.table.data tr.list-tree-level-3 td.list-cell-index-1 {padding-left: 90px;}

body table.table.data tr.list-tree-level-4 a.list-expand-collapse {left: 120px;}
body table.table.data tr.list-tree-level-4 td.list-cell-index-1 {padding-left: 120px;}

body table.table.data tr.list-tree-level-5 a.list-expand-collapse {left: 150px;}
body table.table.data tr.list-tree-level-5 td.list-cell-index-1 {padding-left: 150px;}

body table.table.data tr.list-tree-level-6 a.list-expand-collapse {left: 180px;}
body table.table.data tr.list-tree-level-6 td.list-cell-index-1 {padding-left: 180px;}
