@keyframes fadeInOpacity {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

/* tr.rowlink */
tr.rowlink .nowrap {
    white-space: nowrap;
}
.hover-indicator {
    border-bottom: 1px dashed #d0d0d0; 
}
.ajax-new {
    background-color:#ffdddd!important;
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2s;
}

.toolbar-primary > div > button {
    /* a and button together bit up and down */
    margin-top: 0px;
}

.list-cell-type-partial > .multi {
    list-style: circle;
}
.list-cell-type-partial > .multi-total {
    font-weight: bold;
    border-top: 3px double #555;
}
table.table.data tbody td.list-cell-type-partial > .multi > li > a {
    color: darkblue;
}
table.table.data tbody td.list-cell-type-partial > .multi > li > a:hover,
table.table.data tbody td.list-cell-type-partial > a.more:hover {
    text-decoration: underline;
}

tr.rowlink.qrscan-highlight > td {
    background-color:#ffdddd!important;
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2s;
}
tr.rowlink.qrscan-highlight > td {
    border-top:1px solid #000!important;
    border-bottom:1px solid #000!important;
}
tr.rowlink.qrscan-highlight > td:first-child {
    border-left:1px solid #000!important;
    border-radius: 5px 0px 0px 5px;
}
tr.rowlink.qrscan-highlight > td:last-child {
    border-right:1px solid #000!important;
    border-radius: 0px 5px 5px 0px;
}

/* -------------------------------- State_Indicator */
table.table.data > tbody > tr.rowlink:has(div.state-indicator) > td {
    border-top: 1px dashed;
    border-bottom: 1px dashed;
    width: 0px;
    overflow: visible;
}
table.table.data > tbody > tr.rowlink:has(div.state-indicator) > td:first-child {
    border-left: 1px dashed;
    border-right: none;
    border-radius: 6px 0px 0px 6px;
}
table.table.data > tbody > tr.rowlink:has(div.state-indicator) > td:last-child {
    border-right: 1px dashed;
    border-left: none;
    border-radius: 0px 6px 6px 0px;
}

table.table.data > tbody > tr.rowlink > td.list-cell-name-state_indicator {
    position: relative;
}
table.table.data > tbody > tr.rowlink > td.list-cell-name-state_indicator > div.state-indicator {
    position: absolute;
    top: -6px;
    border-radius: 4px;
    border-left: 1px solid;
    border-right: 1px solid;
    border-top: none;
    border-bottom: none;
    background-color: #fff;
    padding: 0px 8px;
    box-shadow: 1px 1px 8px #666;
    white-space: nowrap;
    font-size:10px;
    text-align: center;
}

/* Invalid */
table.table.data > tbody > tr.rowlink:has(div.state-indicator.invalid) > td {
    border-color: #770000;
}
div.state-indicator.invalid {
    border-color: #770000;
    color: #770000;
}

/* Waiting */
table.table.data > tbody > tr.rowlink:has(div.state-indicator.waiting) > td {
    border-color: #586800;
}
div.state-indicator.waiting {
    border-color: #586800;
    color: #586800;
}

/* Valid */
table.table.data > tbody > tr.rowlink:has(div.state-indicator.valid) > td {
    border: none;
}
div.state-indicator.valid {
    border: none;
}
table.table.data > tbody > tr.rowlink > td.list-cell-name-state_indicator > div.state-indicator.valid {
    position:inherit;
    border-left: none;
    border-right: none;
    background-color: Transparent;
    box-shadow: none;
}
table.table.data > tbody > tr.rowlink > td.list-cell-name-state_indicator:has(div.state-indicator.valid):before {
    display: block;
    content: "✓";
    text-align: center;
}
.search-global-scope-selectors-container {
    float: left;
    margin-right: 10px;
    margin-top: -4px;
    font-size: 12px; /* Override .control-toolbar */
}

/* list-editable */
tr.rowlink.dirty > td {
    background-color:#ffdddd!important;
}