.widget-globalscopespreview {
    border: 1px solid #333377;
}
.widget-globalscopespreview h2 {
    margin-top: 15px;
    font-weight: bold;
}
.widget-globalscopespreview .nav.nav-tabs {
    display: none;
}
